# macOS
.DS_Store

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Quarto
/.quarto/
/_site/
/_freeze/
*_files/
*.html
analysis/cache/

# Data + results (keep README files)
data/raw/
data/processed/
results/*
!data/README.md
!results/README.md

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm

**/*.quarto_ipynb

# Stan build artifacts
stan/*.hpp
stan/*.o
stan/*.d
stan/*.so
stan/*_model
stan/baseline_that
